$primary-color: #ffdf00;

.button {
  position: relative;
  display: inline-block;
  padding: 12px 16px;
  background-color: $primary-color;
  border-radius: 12px;
  font-size: 18px;
  color: #1b1b1b;
  text-align: center;
  box-shadow: 0 10px 10px rgba(255, 223, 0, 0.2);
  border: none;
  outline: none;
  font-weight: bold;
  transition: all 0.2s;
  cursor: pointer;
  &:active {
    transform: translateY(1px);
    box-shadow: 0 5px 5px rgba(255, 223, 0, 0.4);
  }
  &.sm {
    padding: 10px 14px;
    font-size: 16px;
  }
  &.block {
    display: block;
    width: 100%;
  }
}

.label {
  position: relative;
  display: inline-block;
  .control {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    &:not(:checked) + .button {
      background-color: #fff;
      box-shadow: inset 0 0 0 2px $primary-color;
    }
  }
}

.group {
  display: inline-flex;
  &.block {
    display: flex;
  }
  .label {
    display: block;
    flex: 1;
    .button {
      display: block;
    }
  }
  .button {
    border-radius: 0;
  }
  > :first-child.button,
  > :first-child .button {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  > :last-child.button,
  > :last-child .button {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
