.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  vertical-align: middle;
  text-indent: -1000em;
}
